---
// Accordion group container
---

<div class="my-6 border border-light-border dark:border-dark-border rounded-lg overflow-hidden [&>details:not(:last-child)]:border-b [&>details:not(:last-child)]:border-light-border dark:[&>details:not(:last-child)]:border-dark-border">
  <slot />
</div>
