---
interface Props {
  cols?: number | string;
}

const { cols = 2 } = Astro.props;

const colsClass = {
  '1': 'grid-cols-1',
  '2': 'grid-cols-1 md:grid-cols-2',
  '3': 'grid-cols-1 md:grid-cols-3',
  '4': 'grid-cols-1 md:grid-cols-2 lg:grid-cols-4',
}[String(cols)] || 'grid-cols-1 md:grid-cols-2';
---

<div class:list={["not-content grid gap-4 my-6", colsClass]}>
  <slot />
</div>
