---
// CodeGroup - tabbed code blocks using Starlight's Tabs
import { Tabs, TabItem } from '@astrojs/starlight/components';
---

<div class="my-6 [&_.expressive-code]:!m-0 [&_pre]:!rounded-t-none [&_pre]:!rounded-b-lg [&_[role='tablist']]:bg-light-border/50 dark:[&_[role='tablist']]:bg-dark-border/50 [&_[role='tablist']]:rounded-t-lg [&_[role='tablist']]:px-2 [&_[role='tabpanel']]:p-0">
  <Tabs>
    <slot />
  </Tabs>
</div>
