---
// Frame component for videos and images
interface Props {
  caption?: string;
}

const { caption } = Astro.props;
---

<figure class="my-6">
  <div class="border border-light-border dark:border-dark-border rounded-lg overflow-hidden bg-black [&>img]:w-full [&>img]:h-auto [&>img]:block [&>video]:w-full [&>video]:h-auto [&>video]:block">
    <slot />
  </div>
  {caption && <figcaption class="mt-2 text-center text-sm text-light-muted dark:text-dark-muted italic">{caption}</figcaption>}
</figure>
