.vscode
**/.env
dist
node_modules
**/.turbo
.DS_Store
**/.next
build.sh
diff.txt
diff.sh
**/superglue_data.json
packages/web/public/ALS2M3.DAT
packages/web/public/M3.JSON
packages/web/public/Steyr_Haus.ONLV
