---
/**
 * Custom SiteTitle component - static logo without JS
 */
const { siteTitle } = Astro.props;
---

<a href="/" class="site-title">
  <svg class="logo" viewBox="0 0 9375 2917" xmlns="http://www.w3.org/2000/svg" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
    <g>
      <path d="M9207.13,1482.19c0,-646.571 -524.934,-1171.51 -1171.51,-1171.51l-6687.56,-0c-646.571,-0 -1171.51,524.934 -1171.51,1171.51c0,646.571 524.934,1171.51 1171.51,1171.51l6687.56,0c646.571,0 1171.51,-524.934 1171.51,-1171.51Z" class="logo-bg"/>
      <g class="logo-text">
        <path d="M1207.81,2068.52l390.187,-0l1.044,-130.41l129.367,-0l-0,-390.188l-130.411,-0l0,-130.411l-130.41,0l-0,-130.41l-130.41,0l1.043,-261.864l259.777,0l0,-129.367l-390.187,0l-0,129.367l-130.411,1.043l0,390.188l130.411,0l-0,130.411l130.41,-0l-0,130.41l130.41,-0l0,260.821l-260.82,-0l-0,130.41Zm-130.411,-130.41l129.367,-0l0,-129.367l-129.367,-0l0,129.367Zm521.642,-782.463l129.367,0l-0,-129.367l-129.367,0l-0,129.367Z"/>
        <path d="M1948.54,2068.52l520.599,-0l1.043,-130.41l129.367,-0l-0,-1042.24l-259.778,0l0,1042.24l-261.864,1.043l0,-1043.28l-259.777,0l0,1042.24l130.41,-0l0,130.41Z"/>
        <path d="M2689.27,2068.52l259.778,-0l1.043,-521.641l390.188,-0l1.043,-130.411l129.367,0l0,-390.188l-130.41,0l-0,-130.41l-129.367,0l-0,520.598l-261.864,1.043l1.043,-392.274l259.777,0l0,-129.367l-520.598,0l0,1172.65Z"/>
        <path d="M3560.41,2068.52l651.009,-0l-0,-129.367l-391.231,-0l1.043,-392.274l259.778,-0l-0,-129.368l-260.821,0l1.043,-392.274l390.188,0l-0,-129.367l-651.009,0l0,1172.65Z"/>
        <path d="M4301.14,2068.52l259.778,-0l1.043,-521.641l260.821,-0l-0,521.641l259.777,-0l0,-520.598l-130.41,-0l1.043,-131.454l129.367,0l0,-390.188l-130.41,0l-0,-130.41l-129.367,0l-0,520.598l-261.864,1.043l1.043,-392.274l259.777,0l0,-129.367l-520.598,0l0,1172.65Z"/>
        <path d="M5302.69,2068.52l520.598,-0l1.043,-130.41l129.367,-0l0,-520.599l-259.777,0l-0,520.599l-261.864,1.043l1.043,-913.916l390.188,0l-0,-129.367l-520.598,0l-0,129.367l-130.411,1.043l0,911.83l130.411,-0l-0,130.41Zm521.641,-912.873l129.367,0l0,-129.367l-129.367,0l0,129.367Z"/>
        <path d="M6043.42,2068.52l651.008,-0l0,-129.367l-391.231,-0l0,-1043.28l-259.777,0l-0,1172.65Z"/>
        <path d="M6914.56,2068.52l520.598,-0l1.043,-130.41l129.367,-0l0,-1042.24l-259.777,0l-0,1042.24l-261.864,1.043l-0,-1043.28l-259.777,0l-0,1042.24l130.41,-0l-0,130.41Z"/>
        <path d="M7655.29,2068.52l651.008,-0l0,-129.367l-391.231,-0l1.043,-392.274l259.778,-0l-0,-129.368l-260.821,0l1.043,-392.274l390.188,0l0,-129.367l-651.008,0l-0,1172.65Z"/>
      </g>
    </g>
  </svg>
  <span class="title-text">DOCUMENTATION</span>
</a>

<style>
  .site-title {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    color: var(--sl-color-text);
    font-weight: 600;
  }

  .logo {
    height: 2.5rem;
    width: auto;
  }

  .logo-bg {
    fill: var(--sl-color-bg);
    stroke: var(--sl-color-text);
    stroke-width: 208.33px;
  }

  .logo-text {
    fill: var(--sl-color-text);
    fill-rule: nonzero;
  }

  .title-text {
    font-family: YuGothic, 'Yu Gothic', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: -0.035em;
    color: var(--sl-color-gray-2);
  }

  @media (max-width: 50rem) {
    .title-text {
      display: none;
    }
  }
</style>
